# Node
node_modules/
dist/
*.tsbuildinfo

# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/
*.egg
build/
dist/
.eggs/

# Python data symlinks (created by scripts/sync-py-data.sh for editable install)
python/wrapex/data/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.local
